body {
    padding: 0;
    text-align: justify;
    /*! background-color: #545454; */
    margin: 1em 2em 0;
    font-family: Trykker, sans-serif;
    overflow: auto;
    color: #545454;
}

a {
    color: #080;
}
#header h1 a.title {
    font-weight: normal;
    margin: 0;
    border: none;
    font-size: 1.2em;
    font-family: Trocchi, serif;
    float: right;
    color: #545454;
}
h1 {
    font-family: Trocchi, serif;
    font-style: italic;
}
h2 {
    margin-top: 2em;
    font-family: Trocchi, serif;
    font-weight: normal;
}

h2 a:link, h2 a:visited {
    text-decoration: none;
    color: #545454;
}

h2 a:hover {
    color: #080;
    text-decoration: underline;
}

a:visited, a:hover {
    color: #040;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    font-family: Trocchi, sans-serif;
    color: #898;
}

h4 {
    letter-spacing: 0.1em;
}

pre {
    color: black;
    overflow: auto;
    padding: .7em;
    border: 1px groove #ddd;
    margin: .7em;
    background-color: #efe;
}

#header li {
    line-height: 1.6em;
}
#header a:link, #header a:visited {
    border-bottom: .1em solid #080;
    border-top: .1em solid #080;
    margin: 0 1em 0 0;
    text-decoration: none;
    font-family: Trocchi, serif;
}
#header a:hover, #header a:active {
    border-bottom: .1em solid #545454;
    border-top: .1em solid #545454;
}
#header {
    padding: 0;
    margin: .5em 0 3em;
    text-align: left;
}
#sidebar {
    text-align: right;
    padding: 4em 1em ;
    width: 25%;
    float: right;
}
#sidebar ul {
    padding-bottom: 2em;
}
#recent ul {
    clear: both;
    color: #545454;
    list-style-type: none;
}
ul {
    list-style: none;
}
#sidebar h4 {
    font-weight: normal;
    font-family: serif;
    font-size: 1.4em;
    padding-bottom: .5em;
    text-transform: lowercase;
    clear: right;
}
#container {
    background: white;
    max-width: 760px;
    height: auto;
    line-height: 1.6em;
    padding: 2em;
    margin: 0 auto;
}
#content {
    padding: .1em;
    min-height: 40em;
    align-content: center;
    margin: 0 auto;
}

.post {
    padding-bottom: 4em;
}
#smallprint {
    margin: 2em 0 0 0;
    color: #ccc;
    text-align: center;
    padding-bottom: 1em;
    font-size: .8em;
}

#smallprint a {
    color: #ddd;
}

.entry {
    margin-top: 1em;
    font-size: 1.1em;
}
.entry p {
    padding-bottom: 1em;
}

.entry img {
    padding: 1em;
}

* {
    margin: 0;
    padding: 0;
}

code {
    font-family: monospace;
    background-color: #efe;
    padding: 2px;
}
a.comments {
    float: right;
    color: #898;
    font-style: italic;
}
a.comments:hover, a.comments:visited {
    color: #040;
}
.post_tags {
    float: left;
    position: relative;
}
.post_tags li {
    display: inline;
}
.post_tags a {
    font-size: 1em;
    font-style: italic;
    font-family: sans-serif;
}

blockquote {
    font-style: italic;
    padding-left: 2em;
}